
<div class="container under-footer">
  <br><br><br><br><br><br>
  <p>Owner: <%= @booking.owner.email %></p>
  <p>Renter: <%= @booking.user.email %></p>
  <%= link_to boat_path(@booking.boat) do %>
    <p>Boat: <%= @booking.boat.name %></p>
  <% end %>
  <p>Start date: <%= @booking.start_date %></p>
  <p>End date: <%= @booking.end_date %></p>
  <p>Total price: <%= @booking.total_price %></p>
  <p>Status: <%= @booking.status %></p>

  <% unless @booking.reviews.first == nil %>
    <h3>Review</h3>
    <p>Review: <%= @booking.reviews.first.content %></p>
    <p>Rating: @booking.reviews.first.rating </p>
    <% 5.times do |i| %>
      <% if i < @booking.reviews.first.rating %>
        <i class="fas fa-star"></i>
      <% else %>
        <i class="far fa-star"></i>
      <% end %>
    <% end %>
  <% end %>

  <h1>New Review</h1>
  <%= render 'form_review' %>

  <% if policy(@booking).edit? %>
    <%= link_to 'Edit', edit_booking_path(@booking) %>
  <% end %>
  <%= link_to 'Back', dashboard_renter_path %>

</div>
</div>

</div>

