
<div class="container contain under-footer">
  <div class="grille">
    <div class="c paragraphe grille-1">
      <p><strong>Owner:</strong> <%= @booking.owner.first_name %> <%= @booking.owner.last_name %></p>
      <p><strong>Renter:</strong> <%= @booking.user.first_name %> <%= @booking.user.last_name %></p>
      <%= link_to boat_path(@booking.boat) do %>
      <p><strong>Boat: <%= @booking.boat.name %></strong></p>
      <% end %>
      <p><strong>Start date:</strong> <%= @booking.start_date %></p>
      <p><strong>End date:</strong> <%= @booking.end_date %></p>
      <p><strong>Total price:</strong> <%= @booking.total_price.round %></p>
      <% if policy(@booking).edit? %>
      <%= link_to 'Edit', edit_booking_path(@booking), class: "btn btn-warning" %>
      <% end %>
      <%= link_to 'Back', dashboard_renter_path, class: "btn btn-danger" %>
    </div>

    <div class="other grille-2">
      <h1>New Review</h1>
      <%= render 'form_review' %>

      <% if policy(@booking).edit? %>
      <%= link_to 'Edit', edit_booking_path(@booking) %>
      <% end %>
      <%= link_to 'Back', dashboard_renter_path %>
    </div>




      <div class="grille-3">
        <% unless @booking.reviews.first == nil %>
        <h3>Review</h3>
        <p>Review: <%= @booking.reviews.first.content %></p>
        <p>Rating: <%= @booking.reviews.first.rating %> </p>
        <% 5.times do |i| %>
        <% if i < @booking.reviews.first.rating %>
        <i class="fas fa-star"></i>
        <% else %>
        <i class="far fa-star"></i>
        <% end %>
        <% end %>
        <% end %>
      </div>
</div>
    </div>




