
<div class="container-banner">
  <h1>SAILY</h1>
  <p><span id="banner-typed-text"></span></p>
  <br><br><br>

      <%= form_tag root_path, method: :get, class: "form-inline" do %>
          <%= text_field_tag :category,
          params[:category],
          class: "form-control",
          placeholder: "What?"
          %>
          <%= text_field_tag :where,
          params[:where],
          class: "form-control",
          placeholder: "Where?",
          id: "boat_address"
          %>
          <%= text_field_tag :start_date,
          params[:startdate],
          class: "form-control datepicker",
          id: "search-start-date",
          placeholder: "Start date?"
          %>
          <%= text_field_tag :end_date,
          params[:enddate],
          class: "form-control datepicker",
          id: "secondRangeInput"
          placeholder: "End date?"
          %>
          <%= submit_tag "Search", class: "btn btn-info" %>

    <% end %>
</div>




<!-- the list of movies -->
