<br><br><br>
<h1>--------------OWNER--------------</h1>

<h2>My boats</h2>
<% @boats.each do |boat| %>
  <p><%= boat.name %></p>
  <%= link_to 'show', boat_path(boat) %>
  <%= link_to 'edit', edit_boat_path(boat) %>
  <%= link_to 'delete', boat_path(boat), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<h2>My bookings</h2>
<% @bookings_as_owner.each do |booking| %>
  <p><%= booking.start_date %></p>
  <%= link_to 'show', booking_path(booking) %>
  <%= link_to 'edit', edit_booking_path(booking) %>
  <%= link_to 'delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


<h1>--------------CLIENT--------------</h1>

<% @bookings_as_client.each do |booking| %>
  <p><%= booking.start_date %></p>
  <%= link_to 'show', booking_path(booking) %>
  <%= link_to 'edit', edit_booking_path(booking) %>
  <%= link_to 'delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
