<div class="under-footer">
  <div class="container text-center infoss">



  <div class="tabs">
    <%= link_to dashboard_owner_path, class: 'tab' do %>
      <h3>Owner</h3>
    <% end %>
    <%= link_to dashboard_renter_path, class: 'tab active' do %>
      <h3>Renter</h3>
    <% end %>
  </div>

  <h2>My boats</h2>

    <div class="row">
      <% @bookings_as_client.each do |booking| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.boat.photo, height: 300, width: 400, crop: :fill %>')">
          <div class="card-category"><%= booking.boat.category %></div>
          <div class="card-description">
            <h2><%= booking.boat.name %></h2>
            <p>From <%= booking.start_date %>, to <%= booking.end_date %></p>
          </div>
          <% if policy(booking).show? %>
            <%= link_to "", booking_path(booking), class:'card-link'%>
          <% end %>
          </div>
          <div>
            <% if policy(booking).edit? %>
              <%= link_to edit_booking_path(booking) do %>
                <i class="far fa-edit"></i>
              <% end %>
            <% end %>
            <% if policy(booking).destroy? %>
              <%= link_to booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>








