<%= render 'shared/banner' %>


<div class="container text-center titre">
  <h1 class= "titre">Available Boats</h1>

   <button id="clickme"><i class="fas fa-map-marker"> Show on map</i></button>

  <div class="row">
    <% @boats.each do |boat| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path boat.photo%>')">
            <div class="card-category"><%= boat.category %></div>
            <div class="card-description">
              <h2><%= boat.name %></h2>
              <p><%= boat.address %></p>
            </div>
          <img class="card-user" src=<%= boat.owner.photo %>>
          </div>
          <div class="card-icons">
            <i class="fas fa-euro-sign"><%= boat.price %></i>
            <i class="fas fa-users"><%= boat.capacity %></i>
          </div>
          <% if policy(boat).show? %>
            <%= link_to "", boat_path(boat), class:'card-link'%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>



<div id="map" class="big-map" style="display: none; width: 100%; height: 800px;" data-markers="<%= @markers.to_json %>"></div>

<%= javascript_pack_tag 'bouton2' %>
