

<%= cl_image_tag @boat.photo, class: "banner-show" %>
<div class="container infos">
  <div class="under-footer">
    <div class ="grid">
      <div class= "one-grid">
        <h4><strong><%= @boat.name %></strong> </h4>
        <p><i class="fas fa-ship"></i><%=@boat.category%> <i class="fas fa-users"></i><%=@boat.capacity%>      travelleurs <i class="fas fa-euro-sign"></i><%= @boat.price %><%= @boat.stars %></p></p>
      </div>


      <div class="two-grid texte">
        <p><%= @boat.owner.email %></p>
        <p><%= @boat.address %></p>
        <p><%= @boat.description %></p>
      </div>



      <div class = "three-grid another-text">
        <% if policy(Booking).new? %>
        <h5><strong>New Booking</strong></h6>
          <%= render 'form_booking' %>
          <% end %>
        </div>


      <div class="forth-grid carte">
        <% if @marker.present? %>
        <div id="map" class="little-map" style="width: 384px; height: 350px;" data-markers="<%= @marker.to_json %>"></div>
        <% end %>
      </div>

    </div>
  </div>
</div>









