<div class="container">
  <p>Owner: <%= @boat.user.email %></p>
  <p>Name: <%= @boat.name %></p>
  <p>Category: <%= @boat.category %></p>
  <p>Model: <%= @boat.model %></p>
  <p>Address: <%= @boat.address %></p>
  <p>Description: <%= @boat.description %></p>
  <p>Capacity: <%= @boat.capacity %></p>
  <p>Price: <%= @boat.price %></p>
  <p>Rating: <%= @boat.stars %></p>
  <%= link_to 'Edit', edit_boat_path(@boat) %> |
  <%= link_to 'Back', boats_path %>
</div>

